@import url("./normalize.css"); /* 1 */

/* 1 => resetting some default styles to accompany styles on different browsers */

/* Structuring the card appearance */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: hsl(30, 38%, 92%);
}

body .product-card{
  display: flex;
  flex-flow: row nowrap;
  max-width: 600px;
  border-radius: 10px;
  background-color: white;
}

.title{
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: calc(1rem - 0.5vw);
}

/*2 =>  dynamically reduces dimension of line height as viewport hight decreases */

h1{
  line-height: calc(1rem + 3vh); /* 2 */
  margin: 0;
  margin: 5px 0;
}

.product-card picture{
  flex-grow: 2;
}

.product-card .product-details{
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

/* 3 => Takes the initial set dimention of container as it is set with flexbox
 which is automatically responsive */

.perfume-img{
  width: 100%; /* 3 */
  height: auto; /* 3 */
  display: block;
  border-radius: 10px 0 0 10px;
}

section .info{
  line-height: calc(1rem + 1vh);
  opacity: 0.7;
  font-family: sans-serif;
}

div[role="pricing"]{
  display: flex;
  column-gap: 10px;
  align-items: center;
}

/* Color and Aesthetics */

div[role="pricing"] b{
  font-size: 2rem;
  color: hsl(158, 36%, 37%);
}

button{
  background-color: hsl(158, 36%, 37%);
  border: none;
  padding: 10px 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
}

button:hover{
  background-color: hsl(158, 42%, 18%);
  cursor: pointer;
}

footer{
  margin-top: 10px;
}

a{
  text-decoration: none;
  font-family: sans-serif;
  color: hsl(158, 42%, 18%);
  font-weight: bold;
}

/* Media Queries */

@media screen and (max-width: 600px){
  html{
    font-size: 14px;
  }

  body .product-card{
    flex-wrap: wrap;
    max-width: 400px;
  }

  .perfume-img{
    border-radius: 10px 10px 0 0;
  }

  .product-details{
    gap: 10px;
  }
}